.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container__titulo{
    display: none;
}

.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu{
    display: block;
}

.container__botao{
    display: none;
}

.lista-menu__titulo,
.lista-menu__item{
    background-color: var(--branco);
    padding: 1em 0 1em 1.5em;
}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;

}

.lista-menu__link{
    text-decoration: none;
    text-transform: uppercase;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.opcoes{
    display: none;
}

.container__texto{
    display: none;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer{
    background-image: url("../img/MenuAberto.svg");
}

.container__botao:checked~ .container__rotulo{
    background: var(--azul-degrade);
}

@media screen and (min-width: 1024px){
    .container__titulo, .container__titulo-negrito{
        font-family: var(--fonte-secundaria)
    }

    .container__titulo{
        display: block;
        font-weight: 400;
    }

    .container__titulo-negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 0 1em;
        text-transform: uppercase;
        color: var(--preto);
    }

    .opcoes__link{
        text-decoration: none;
        color: var(--preto);
    }

    .opcoes__botao:checked ~ .opcoes__rotulo> .opcoes__item{
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opcoes__item{
        padding: 2em 1em;
    }

    .lista-menu__item:hover{
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link{
        -webkit-text-fill-color: var(--branco);
    }

    .container__imagem-transparente, 
    .cabecalho__menu-hamburguer,
    .opcoes__botao{
        display: none;
    }

    .opcoes__botao:checked~ .lista-menu{
        display: block;
        width: auto;
    }

    .lista-menu__item{
        padding: 1em; 
    }    
}

@media screen and (min-width:1728px) {
    .container{
        margin-left: 1em;
    }

    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .container__titulo{
        font-size: 30px;
        margin: 0 0.5em;
    }

    .container__texto{
        display: block;
        font-size: 20px;
    }

    .cabecalho{
        padding: 0 2em;
    }

    .opcoes{
        margin-right: auto;
    }
}